/*#palabra-container {
  display: flex;
  justify-content: center;
}

.letra-div {
  width: 50px;
  height: 80px;
  background-color: aqua;
  border: 1px solid black;
  border-bottom: 5px solid red;
  display: inline-block;
  margin: 0 10px;
}

.letra-div p {
  font-size: 70px;
  margin: 0;
  text-align: center;
}
*/

